<a href="https://colab.research.google.com/github/NajdekMonika/Titanic/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/NajdekMonika/Titanic

Cloning into 'Titanic'...
remote: Enumerating objects: 13, done.
remote: Counting objects: 100% (13/13), done.
remote: Compressing objects: 100% (12/12), done.
remote: Total 13 (delta 3), reused 4 (delta 0), pack-reused 0
Receiving objects: 100% (13/13), 39.92 KiB | 1.60 MiB/s, done.
Resolving deltas: 100% (3/3), done.

In [2]:
%ls

sample_data/  Titanic/

In [3]:
%ls Titanic/Data/

test_titanic.csv  train_titanic.csv